<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <h2>Vano-Cafe</h2>
    </header>
    <main>
        <section class="buttons-section">
            <a href="{% url 'stock_management' %}" class="button button-primary">Stock Management</a>
            <a href="{% url 'user_management' %}" class="button button-secondary">User Management</a>
            <a href="{% url 'login' %}" class="button" id="user_a">Log Out</a>
        </section>
        <section class="low-stock-section">
            <h2>Low Stock Products</h2>
            <ul>
                {% for product in low_stock_products %}
                    <li>{{ product.name }} - stock: {{ product.stock }} {{product.unit}}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="statistics-section">
            <h2>Statistics</h2>
            <p><strong>Total Sales:</strong> {{ total_sales }}€</p>
            <p><strong>Average Order Value:</strong> {{ avg_order_value }}€</p>
        
            {% if most_popular_products %}
                <h3>Most Popular Products</h3>
                <ul>
                    {% for product, count in most_popular_products.items %}
                        <li>{{ product }}: {{ count }} sales</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No popular products to display.</p>
            {% endif %}
            {% if sales_chart %}
                <h3>Sales Chart</h3>
                <img src="data:image/png;base64,{{ sales_chart }}" alt="Sales Chart">
            {% else %}
                <p>No sales chart available.</p>
            {% endif %}
        </section>        
    </main>
</body>
</html>
