<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <main>
        <section class="buttons-section">
            <a href="{% url 'stock_management' %}" class="button button-primary">Stock Management</a>
            <a href="{% url 'user_management' %}" class="button button-secondary">User Management</a>
            <a href="{% url 'login' %}" class="button" id="user_a">Log Out</a>
        </section>
        <section class="low-stock-section">
            <h2>Low Stock Products</h2>
            <ul>
                {% for product in low_stock_products %}
                    <li>{{ product.name }} - Stock: {{ product.stock }}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="statistics-section">
            <h2>Statistics</h2>
            <div>
                <h3>Total Sales</h3>
                <p>{{ total_sales }}€</p>
            </div>

            <div>
                <h3>Most Popular Products</h3>
                <ul>
                    {% for product, sold_count in most_popular_products %}
                        <li>{{ product }} - Sold: {{ sold_count }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h3>Sales of All Products</h3>
                <img src="data:image/png;base64,{{ sales_chart }}" alt="Sales per Product">
            </div>

            <div>
                <h3>Average Order Value</h3>
                <p>{{ avg_order_value }}€</p>
            </div>
        </section>
    </main>
</body>
</html>
