<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Creation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order_creation.css' %}">
</head>
<body>
    <h1>Select Products for Order</h1>
    <a href="{% url 'order_queue' %}">Go to Order Queue</a>
    <a href="{% url 'login' %}" class="button" id="user_a">Log Out</a>
    {% load custom_filters %}
    <form method="POST">
        {% csrf_token %}
        {% for category, products in PRODUCTS.items %}
            <h2>{{ category|title }}</h2>
            <div class="product-grid">
                {% for product_name, details in products.items %}
                    <div class="product-block">
                        <h3>{{ product_name }}</h3>
                        <p>Price: {{ details.price }}€</p>
                        <label>
                            <span>Quantity:</span>
                            <input type="number" name="products-quantity-{{ product_name }}" 
                                   min="0" value="0" class="quantity-input" 
                                   max="{{ products_max_quantity|get_item:product_name }}">
                        </label>
                        <input type="hidden" name="products-name-{{ product_name }}" value="{{ product_name }}">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Mark as Paid</button>
    </form>    
</body>
</html>


