<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Stock Management</h1>
    <a href="{% url 'stock_create' %}" class="button" id="add">Add New Product</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Low Stock Threshold</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.low_stock_threshold }}</td>
                <td>
                    <a href="{% url 'stock_update' product.pk %}" class="button">Edit</a>
                    <a href="{% url 'stock_delete' product.pk %}" class="button delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'admin_dashboard' %}" id="return">Return to the Admin Dashboard</a>
</body>
</html>