<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ action }} Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <h1>{{ action }} Product</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">{{ action }}</button><br><br>
        <a href="{% url 'stock_management' %}" class="button">Cancel</a>
    </form>
</body>
</html>
